@{
    ViewBag.Title = "ForgotPassword2";
}
<h2>Security Question</h2>
<div style="text-align:right;font-size:large;">
    <span class="glyphicon glyphicon-log-in"></span> @Html.ActionLink("Login Page", "Login", "ADMIN") |
    <span class="glyphicon glyphicon-home"></span> @Html.ActionLink("Home Page", "Index","HOME")
</div>
<div class="text-danger" style="text-align:center;font-weight:200;">@ViewBag.Message</div>
<div class="text-success" style="text-align:center;font-weight:200;">@ViewBag.Password</div>
@using (Html.BeginForm("ForgotPassword2", "ADMIN", FormMethod.Post))
{
    <table>
        <tr>
            <td>
                <text>Security Question : </text>
            </td>
            <td><div>@ViewBag.ques</div></td>
        </tr>
        <tr>
            <td><text>Answer : </text></td>
            <td>@Html.TextBox("Answer")</td>
        </tr>
    </table>
    <input type="submit" value="View Password" class="btn btn-danger" />
}
